<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protótipos</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <!-- Tries -->
    <!-- <header>
        <div id="menu">
            <nav class="left">
                <h1>HelpDesk</h1>
            </nav>
        </div>
    </header> -->
    <!-- Tries -->
    
    <div class="container">
        <div class="logo">
            <h2><span>Help</span>Desk</h1>
        </div>
        <div class="right">
            <a href="#" class="btn btn-secondary">Login</a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <h1>Build great <span>prototypes</span><br>Share them anywhere</h1>
        <p>Bring your ideas to life and test them with a swipe, tap, hover or press — all in Sketch.</p>
        <div class="buttons">
            <a href="#" class="btn btn-primary">Registar</a>
            <a href="#" class="btn btn-secondary">Entrar</a>
        </div>
    </div>
</body>
</html>
