body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.login-container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 90%;
}

.logo {
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 20%;
    margin-bottom: 0;
}

.login-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
}

.login-container h1 span {
    color: #00b8d4;
}

.login-container form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.login-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.btn-primary {
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.btn-primary:hover {
    background: #333;
}

.signup-link {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #777;
}

.signup-link a {
    color: #00b8d4;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
