<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="container">
        <img src="media/me.jpg" alt="">
        <h1>Seja bem vindo <span>volta</span><br></h1>
        <p>Bring your ideas to life and test them with a swipe, tap, hover or press — all in Sketch.</p>
        <h1>Login</h1>
        <div class="form">
            <form action="">
                <input type="email" placeholder="Insira o email do estudante"><br>
                <br>
                <input type="password" placeholder="Insira a Password">
            </form>
        </div>
        <div class="buttons">
            <a href="#" class="btn btn-primary">Registar</a>
            <a href="#" class="btn btn-secondary">Entrar</a>
        </div>
    </div>
    
</body>
</html>