<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Gestão de filas {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div id="menu">
            <nav>
                <a href="{{ url_for('index') }}">Home</a>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('profile') }}">Perfil</a>
                <a href="{{ url_for('chatbot') }}">Chatbot</a>
                <a href="{{ url_for('update_profile') }}">Atualizar Dados</a>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('signup') }}">Cadastrar</a>
                {% endif %}
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            </nav>
        </div>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer>&copy;2024 Company, Inc.</footer>
</body>
</html>